@import '@styles/theme.module.scss';
.root {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 18px;
    row-gap: 12px;
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    column-gap: 12px;
    height: 100%;
    &:hover {
        box-shadow: 0 5px 15px #d7d7d7;
        // transition: opacity 0.3s ease-in-out;
    }
    opacity: 1;
}

.contentSection {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: space-around;
}
.img1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.paragraph {
    font: $paragraph-font;
}
.imageBox {
    max-width: 30vw;
    max-height: 119vw;
}

@media (width <= 478px) {
    .root {
        display: flex;
        flex-direction: column;
    }
    .imageBox {
        max-width: 100vw;
        max-height: 119vw;
    }
}
